* {
  margin: 0;
  padding: 0;
}

.wrapper {
    
  display: flex;
  flex-direction: column;
  width: 25%;
 

}

.ingredients {
  display: flex;
  border: blue solid 2px;
  flex-flow: row;
  
  
}

/*
flex-basis use it Inside the P for colum width in %
text-indent first line of each block moved a little bit (either plus or minus)
*/
